<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome User</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<body>

	<div class="container">
		<h2>
			<span
				th:text="${session.suser.getUserType() == 'admin'? 'Admin ':'User '} + ${session.suser.getName()}" />
			<span th:text="${userList}"></span>
		</h2>

		<form class="form-horizontal" method="post" action="/insertNewUser" th:object="${user}">
			<fieldset>

				<!-- Form Name -->
				<legend>Add User</legend>

				<!-- User name input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="name">User Name</label>
					<div class="col-md-4">
						<input id="name" name="name" th:field="*{name}"
							class="form-control input-md" required="" type="text">
						<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
						
					</div>
				</div>

				<!-- User password input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="password">User
						Password</label>
					<div class="col-md-4">
						<input id="password" name="password" th:field="*{password}" class="form-control input-md"
							required="" type="password">
						<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
					</div>
				</div>

				<!-- Email input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="email">User
						Email</label>
					<div class="col-md-4">
						<input id="email" name="email" th:field="*{email}" class="form-control input-md"
							required="" type="text">
						<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
					</div>
				</div>

				<!-- Select Basic -->
				<div th:if="${session.suser.getUserType() == 'admin'}">
					<div class="form-group">
						<label class="col-md-4 control-label" for="userType">User
							Type</label>
						<div class="col-md-4">
							<select id="userType" name="userType" class="form-control">
								<option value="admin">Admin</option>
								<option value="user" selected="selected">User</option>
							</select>
						</div>
					</div>
				</div>

				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="update"></label>
					<div class="col-md-4">
						<button id="update" name="update" class="btn btn-primary">Add
							User</button>
					</div>
				</div>

			</fieldset>
		</form>
		<a href="/loggedout"> <button class="btn btn-danger">Log Out</button> </a>
	</div>
</body>
</html>